<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
  <br><br><br><br>
    	<div class="navbar">
	<a href="/">Home</a>
	<a href="/blog">Blog</a>
	<a href="/gallery">Gallery</a>
	</div>
	<br>
	<div class="centeredpost">
	{{ content }}
	</div>
	<br><br>
	<div class="doggycenter">
		 <img src="/img/epsi_wolf_wag.gif" alt="Pixel Wolf Wagging Tail"> 
	</div>
  </body>
</html>
</html>