<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/style.css" />
  </head>
  <body>

	</div>
	<div class="avatar">
		 <img src="img/wolfbeer_circle.gif" alt="pixel wolf drinking beer"> 
	</div>
	<div class="navbar">
	<a href="/">Home</a>
	<a href="/blog">Blog</a>
	<a href="/gallery">Gallery</a>
	</div>
	
	<br>
	
	<div class="post">
		{{ content }}
	</div>
	<br>
	<div class="centeredpost">
		<h2>Contact</h2>
		<span>
		<a href="https://akko.wtf/epsi" style="text-decoration:none">
			<img src="img/akkoma_logo.svg" style="length: 500px; width: 50px;" alt="pixel wolf drinking beer">
		</a>
		<a href="https://bsky.app/profile/lupo.life" style="text-decoration:none">
			<img src="img/Bluesky_logo.png" style="length: 50px; width: 50px;" alt="pixel wolf drinking beer"> 
		</a>
		</span>
	</div>
	
	<br>
	<div class="centeredpost">
		<h2>Friends</h2>
		<span>
		<a href="https://akko.wtf/" style="text-decoration:none">
			<img src="buttons/lunanova.png" alt="akkowtf Button"> 
		</a>
		<a href="https://www.oceanmew.com/" style="text-decoration:none">
			<img src="buttons/OceanMew.gif" alt="Ocean Mew Button"> 
		</a>
		<a href="https://reimu.info/" style="text-decoration:none">
			<img src="buttons/alybutton.png" alt="Aly Button"> 
		</a>
		<a href="https://biribiri.dev/" style="text-decoration:none">
			<img src="buttons/projectradionoise.png" alt="Project Radio Noise Button"> 
		</a>
		<a href="https://xn--u80a.com/start" style="text-decoration:none">
			<img src="buttons/yuki.webp" alt="Yuki Button"> 
		</a>
		<a href="https://dd86k.space/" style="text-decoration:none">
			<img src="buttons/ddbutton.png" alt="DDs Button"> 
		</a>
		<a href="https://tengu.space/" style="text-decoration:none">
			<img src="buttons/devi.gif" alt="devis Button"> 
		</a>
		<a href="https://yurifan.club/" style="text-decoration:none">
			<img src="buttons/jacky.png" alt="Jackys Button"> 
		</a>
		<a href="https://pixelde.su/" style="text-decoration:none">
			<img src="buttons/pixeldesu.png" alt="Pixels Button"> 
		</a>
		</span>
	</div>
	
	<p style="text-align: center; font-size: 14px;">No rights are granted to reproduce, distribute, train AI models with, or otherwise process any content on this website for machine learning purposes. Any such use is unauthorized and may result in legal action.</p>
	
  </body>
</html>
</html>